caroline-agent-loop.json
[
  {
    "id": "caro-agent-inject",
    "type": "inject",
    "name": "Every 15 min",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "900",
    "crontab": "",
    "once": true,
    "onceDelay": 30,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 80,
    "wires": [
      [
        "caro-agent-gather"
      ]
    ]
  },
  {
    "id": "caro-agent-gather",
    "type": "function",
    "name": "Gather Context",
    "func": "// Rate limit: don't fire more than once every 2 hours\nconst lastSpoke = flow.get('agent_last_spoke') || 0;\nif (Date.now() - lastSpoke < 2 * 60 * 60 * 1000) {\n  node.warn('Agent: rate limited');\n  return null;\n}\n\nconst now = new Date();\nconst time = now.toLocaleString('en-US', { weekday:'long', hour:'numeric', minute:'2-digit', hour12:true });\n\n// Calendar\nlet calendar = 'No upcoming events';\ntry {\n  const calEvents = flow.get('caroline_calendar') || global.get('caroline_calendar') || [];\n  const soon = calEvents.filter(e => {\n    const start = new Date(e.start || e.time || '');\n    const diff = (start - now) / 60000;\n    return diff >= -30 && diff <= 120;\n  });\n  if (soon.length) calendar = soon.slice(0,3).map(e => (e.summary || e.title || '?') + ' at ' + (e.start || e.time || '?')).join('; ');\n} catch(e) {}\n\n// Todos\nlet todos = 'No open tasks';\ntry {\n  const todoList = flow.get('caroline_todos') || global.get('caroline_todos') || [];\n  const open = todoList.filter(t => !t.done && !t.completed);\n  if (open.length) todos = open.slice(0,5).map(t => t.name || t.task || t.text || '?').join(', ');\n} catch(e) {}\n\n// Weather\nlet weather = 'Weather unavailable';\ntry {\n  const wx = flow.get('caroline_weather') || global.get('caroline_weather') || {};\n  if (wx.temp) weather = wx.temp + '°F, ' + (wx.desc || wx.description || '').trim();\n} catch(e) {}\n\n// Recent chat (last 6 messages)\nlet recent_chat = 'No recent conversation';\ntry {\n  const fs = global.get('fs');\n  const raw = fs.readFileSync('/home/davee/caroline/caroline_history.json', 'utf8');\n  const hist = JSON.parse(raw || '[]');\n  const recent = hist.slice(-6);\n  if (recent.length) {\n    recent_chat = recent.map(m => (m.role === 'user' ? 'User' : 'Caroline') + ': ' + (m.content || m.text || '').slice(0, 80)).join('\\n');\n  }\n} catch(e) {}\n\nmsg = { agentContext: { time, calendar, todos, weather, recent_chat } };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 320,
    "y": 80,
    "wires": [
      [
        "caro-agent-build-prompt"
      ]
    ]
  },
  {
    "id": "caro-agent-build-prompt",
    "type": "function",
    "name": "Build Agent Prompt",
    "func": "const ctx = msg.agentContext;\n\nconst systemPrompt = `You are Caroline's autonomous context engine. You decide whether Caroline should proactively say something to the user right now.\n\nRules:\n- Only speak if something is genuinely time-sensitive or useful\n- Prefer brevity — one sentence max\n- If nothing warrants attention, respond with exactly: SILENT\n- No formatting, no markdown, no quotes`;\n\nconst userPrompt = `Current time: ${ctx.time}\nUpcoming events: ${ctx.calendar}\nOpen tasks: ${ctx.todos}\nWeather: ${ctx.weather}\nLast conversation:\n${ctx.recent_chat}\n\nShould Caroline say something right now?`;\n\nconst provider = flow.get('aiProvider') || flow.get('ai_provider') || 'openrouter';\nconst model = provider === 'ollama'\n  ? (flow.get('ollamaModel') || flow.get('ollama_model') || 'llama3.2')\n  : (flow.get('aiModel') || flow.get('openrouter_model') || flow.get('ai_model') || 'anthropic/claude-haiku-4.5');\n\nif (provider === 'ollama') {\n  msg.url = (flow.get('ollamaUrl') || flow.get('ollama_url') || 'http://localhost:11434').replace(/\\/+$/, '') + '/v1/chat/completions';\n  msg.headers = { 'Content-Type': 'application/json' };\n} else {\n  msg.url = 'https://openrouter.ai/api/v1/chat/completions';\n  const key = flow.get('openrouterKey') || '';\n  msg.headers = { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + key };\n}\n\nmsg.payload = {\n  model,\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user',   content: userPrompt }\n  ],\n  max_tokens: 80,\n  temperature: 0.7\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 540,
    "y": 80,
    "wires": [
      [
        "caro-agent-http"
      ]
    ]
  },
  {
    "id": "caro-agent-http",
    "type": "http request",
    "name": "LLM Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 760,
    "y": 80,
    "wires": [
      [
        "caro-agent-parse"
      ]
    ]
  },
  {
    "id": "caro-agent-parse",
    "type": "function",
    "name": "Parse Response",
    "func": "try {\n  const body = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n  const text = (body.choices?.[0]?.message?.content || body.message?.content || '').trim();\n\n  if (!text || text.toUpperCase() === 'SILENT' || text.toUpperCase().startsWith('SILENT')) {\n    node.warn('Agent: SILENT');\n    return null;\n  }\n\n  flow.set('agent_last_spoke', Date.now());\n\n  msg = { payload: JSON.stringify({ type: 'agent_message', text: text, source: 'proactive' }) };\n  return msg;\n} catch(e) {\n  node.error('Agent parse error: ' + e.message);\n  return null;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 980,
    "y": 80,
    "wires": [
      [
        "caro-agent-ws-out"
      ]
    ]
  },
  {
    "id": "caro-agent-ws-out",
    "type": "websocket out",
    "name": "WebSocket → Kiosk",
    "server": "f3e0e445bed3987b",
    "client": "",
    "x": 1200,
    "y": 80,
    "wires": []
  }
]
